// 
extends layout

block headcontent
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="/javascripts/math.js" type="text/javascript")
    script(src="/javascripts/pts.js")
    script(src="/javascripts/vector.js" type="module")
    script(src="/javascripts/matrix.js" type="module")
    script(defer src="/javascripts/graph.js" type="module")
    script(defer src="/javascripts/index.js" type="module")

    meta(name="description", content="Visualize vectors, matrices, determinants, and much more with Graph Linear Algebra!")
    meta(property="og:title" content="Graph Linear Algebra | Visualize matrices, vectors, and more")
    meta(property="og:description" content="Visualize vectors, matrices, determinants, and much more with Graph Linear Algebra!")

block content 
    main#graph
        #pt
    footer
        .left
            h2 A simple graphing tool
            h4 Graph Linear Algebra is a linear algebra graphing tools used to visualize 2x2 matrices.
            h4.begin-graphing-button <a href="/graph2d">Begin Graphing</a>
        .right 
            h4 To learn how to use Graph Linear Algebra, see <a href="/help">here</a>.
        