doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block headcontent
  body
    block content
