// 
doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    block viewport
      meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:image" content="/images/ogimage.png")

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-2NMZ2P48E1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2NMZ2P48E1');

    block headcontent
  body
    block content