doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    block viewport
      meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:image" content="/images/ogimage.png")

    block headcontent
  body
    block content