* {
	padding: 0;
	margin: 0;
}

html {
	height: -webkit-fill-available;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow: hidden;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #00B7FF;
}

// z-index: 
// 100-999 frame
// 1k+ normal

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input:focus, div[contenteditable="true"]:focus {
	outline: none;
}

.text-field {
	overflow-x: auto;
}

/* GRAPH */

#graph, #pt {
	height: 100%;
	width: 100%;
	position: absolute;
}

/* TOP BAR */

#top-bar {
	z-index: 1010;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 28px;
	padding-top: 2px;
	background-image: linear-gradient(180deg, rgb(68, 68, 68), rgb(61, 61, 61));
	border-bottom: 2px solid rgb(48, 48, 48);
	color: rgb(150, 150, 150);

    & > * {
        display: inline-block;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        margin-left: 10px;
        margin-right: 10px;
        @extend .noselect;
    }
}

#favicon {
	height: 20px;
	width: 20px;
	margin-right: 0px;
	background-image: url('/images/favicon.png');
	background-size: contain;
}

#title {
	color:rgb(167, 167, 167);
	cursor: pointer;

	&:hover {
		color: rgb(193, 193, 193);
	}

	& > a {
        text-decoration: none;
        color: inherit;
    }
}

.bar-button {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 0.9em;
	cursor: pointer;
	color: rgb(173, 173, 173);	
}

#help-button > a {
	text-decoration: none;
	color: inherit;
}

.bar-button.disabled {
	color: #969696;
}

.bar-button:hover {
	color: rgb(173, 173, 173);
}

.content-bar {
	position: absolute;
	z-index: 1008;
	top: 30px;
	background-color: rgb(61, 61, 61);
	width: 100%;
	height: 30px;
	padding-left: 10px;
}

.content-bar.disabled {
	display: none;
}

.content-bar > * {
	display: inline-block;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	font-size: 0.8em;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: rgb(173, 173, 173);
    @extend .noselect;

	&:hover {
		color: rgb(173, 173, 173) !important;
	}

	&.disabled {
		color: rgb(138, 138, 138);
	}
}

/* PROPERTY FRAME */

.property-frame, .warning-frame {
	display: none;
	z-index: 100;
	position: absolute;
	top: 20%;
	left: 20%;
	background-color: rgb(65, 65, 65);
	width: 200px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-bottom: 5px;
	box-shadow: 0px 2px 2px rgb(66, 66, 66);

	input:focus {
		outline: none;
	}

	& > .top-bar {
		width: 100%;
		height: 20px;
		background-color: rgb(53, 53, 53);
		
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		@extend .noselect;
		cursor: grab;

		border-top-left-radius: 4px;
		border-top-right-radius: 4px;


		& > .close-button {
			margin-left: 10px;
			height: 10px;
			width: 10px;
			transform: translateY(1px);
			background-color: rgb(224, 67, 67);
			border-radius: 100%;
			display: inline-block;
			z-index: 1000;
			cursor: pointer;

			&:hover {
				background-color: rgb(194, 54, 54);
			}
		}

		& > .title {
			flex-grow: 1;
			transform: translateX(-10px);
			text-align: center;
			font-size: 0.8em;
			color: rgb(167, 167, 167);
		}

	}

	& > .properties-list {
		list-style: none;
		margin-top: 10px;

		font-size: 0.9em;
		color:rgb(173, 173, 173);

		@extend .noselect;

		& > li {
			margin-bottom: 10px;
			& > * {
				display: table-cell;
				vertical-align: middle;
			}
		}


		.left-wrapper {
			display: inline-block;
			width: 30%;
			padding-left: 25px;
			padding-right: 10px;

		}

		.right-wrapper {
			display: inline-block;
			width: 50%;
			text-align: center;
		}

		& > .color {
			.input-color {
				background-color: transparent;
				border: none;
				outline: none;
			}
		}

		& > .toggler {
			.toggle-button {
				cursor: pointer;
				display: inline-block;
				width: 20px;
				height: 20px;
				font-size: 1.1em;
				line-height: 19px;
				text-align: center;
				border: 1px solid rgb(128, 128, 128);
			}
		}
	}
	
	& > .button-list {
		@extend .noselect;

		display: flex;
		justify-content: space-evenly;
		margin-top: 15px;
		margin-bottom: 10px;
	
		& > .button {
			width: 35%;
			height: 20px;
			background-color: rgb(53, 53, 53);	
			color:rgb(184, 184, 184);	
			border-radius: 5px;
			font-size: 0.8em;
			line-height: 20px;
			text-align: center;
			cursor: pointer;
		}
	}
}

/* MATRICES */
.properties-list > li.matrix .input-matrix, #matrices-list-frame li.matrix-list-li, #matrices-transform-frame .output-matrix {
	display: flex;
	justify-content: center;

	.left-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-right: 0px;
	}

	.middle {
		display: flex;

		.c0, .c1 {
			width: 40px;

			.x, .y {
				height: 20px;
				white-space: nowrap;
				line-height: 20px;
				text-align: center;
				overflow-x: auto;
			}

			.x {
				margin-top: 3px;
			}

			.y {
				margin-top: 5px;
			}
		}
	}

	.right-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-left: 0px;
	}
}

#matrices-list-frame {
	li.matrix-list-li {
		display: flex;
		align-items: center;

		.left-wrapper {
			// width: 20%;
			flex-shrink: 2;
		}

		.right-wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;

			.matrix {
				display: flex;
				align-items: center;
				& > * {
					display: inline-block;
				}

				.c0, .c1, .left-bracket, .right-bracket {
					display: inline-block;
				}
			}

			.delete-button {
				cursor: pointer;
				width: 20px;
				height: 20px;
				border: 1px solid rgb(128, 128, 128);
				// color: rgb(255, 83, 83);
				font-size: .9em;
				line-height: 20px;
				
			}
		}
	}
}

#matrices-transform-frame .transform-output {
	.matrix {
		margin-top: 15px;
		.c0, .c1 {
			width: 40px;
		}
	}
	#matrix-transform-output-field {
		margin-top: 15px;
	}
}

/* VECTORS */
.properties-list > li.vector .input-vector, #vectors-list-frame .vector {
	// vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.left-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-right: 0px;
	}

	.middle {
		& > * {
			// background-color: rgb(60, 60, 60);
			line-height: 20px;
			white-space: nowrap;
			width: 40px;
			height: 20px;

			// &:focus {
			// 	outline: none;
			// }
		}

		.y {
			margin-top: 4px;
		}
	}

	.right-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-left: 0px;
	}
}

#vectors-list-frame {
	li.vector-list-li {
		display: flex;
		align-items: center;

		.left-wrapper {
			// width: 20%;
			flex-shrink: 2;
		}

		.right-wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			// width: 60%;
			// margin-left: 30%;

			.color {
				width: 20px;
				height: 20px;
				background-color: #f00;
				border: 1px solid rgb(128, 128, 128);
			}

			.delete-button {
				cursor: pointer;
				width: 20px;
				height: 20px;
				border: 1px solid rgb(128, 128, 128);
				// color: rgb(255, 83, 83);
				font-size: .9em;
				line-height: 20px;
				
			}
		}
	}
}


// WARNING FRAME
.warning-frame {
	top: 45%;
	left: calc(50% - 100px);
	
	& > .content {
		color: rgb(173, 173, 173);
		font-size: 0.8em;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 25px;
	}
}

#storage {
	display: none;
}