* {
	padding: 0;
	margin: 0;
}

html {
	height: -webkit-fill-available;
	touch-action: none;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow: hidden;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: none;
	@extend .noselect;
}

a {
    text-decoration: none;
    color: rgb(97, 205, 255);
    transition: 0.5s ease-out;
    font-weight: bold;

    &:hover {
        color: rgb(172, 229, 255);
    }
}


#log {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 10000;
	font-size: 1.1em;
	color: black;
}

// z-index: 
// 100-999 frame
// 1k+ normal

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select {
	-webkit-touch-callout: text; 
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

input:focus, div[contenteditable="true"]:focus {
	outline: none;
}

.text-field {
	overflow-x: auto;
}

/* GRAPH */

#graph, #pt {
	height: 100%;
	width: 100%;
	position: absolute;
	touch-action: none;
}

/* TOP BAR */
#top-wrapper {
	position: absolute;
	z-index: 1010;
	top: 0;
	left: 0;
	width: 100%;
}

#top-bar {
	z-index: 1010;
	// position: absolute;
	width: 100%;
	// height: 28px;
	min-height: 40px;
	padding-top: 2px;
	background-image: linear-gradient(180deg, rgb(46, 65, 100), rgb(41, 59, 92));
	// border-bottom: 2px solid rgb(48, 48, 48);
	// color: rgb(255, 255, 255);

	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;

    & > * {
        // display: inline-block;
        // vertical-align: middle;
        // vertical-align: -webkit-baseline-middle;
        margin-left: 10px;
        margin-right: 10px;
        @extend .noselect;
    }
}

#favicon {
	height: 32px;
	width: 32px;
	margin-left: 30px;
	background-image: url('/images/favicon.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#title {
	color:rgb(255, 255, 255);
	cursor: pointer;
	padding: 10px 10px;
	font-size: 1.1em;
	font-weight: bold;

	&:hover {
		color: rgb(228, 228, 228);
	}

	& > a {
        text-decoration: none;
        color: inherit;
    }
}

.bar-button {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	color: rgb(255, 255, 255);
	padding: 10px 5px;
}

#help-button > a {
	text-decoration: none;
	color: inherit;
}

.bar-button.disabled {
	color: #e4e4e4;
}

.bar-button:hover {
	color: rgb(255, 255, 255);
}

.content-bar {
	// position: absolute;
	z-index: 1008;
	background-color: rgb(51, 73, 112);
	width: calc(100% - 30px);
	// height: 30px;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.content-bar.disabled {
	display: none;
}

.content-bar > * {
	// display: inline-block;
	// vertical-align: middle;
	// vertical-align: -webkit-baseline-middle;
	font-size: 0.9em;
	padding: 8px 20px;
	cursor: pointer;
	color: rgb(250, 250, 250);
    @extend .noselect;

	&:hover {
		color: rgb(250, 250, 250) !important;
	}

	&.disabled {
		color: rgb(230, 230, 230);
	}
}

/* PROPERTY FRAME */

.property-frame, .warning-frame {
	display: none;
	z-index: 100;
	position: absolute;
	top: 20%;
	left: 20%;
	background-color: rgb(231, 231, 231);
	width: 200px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-bottom: 5px;
	box-shadow: 0px 2px 2px rgb(66, 66, 66);

	input:focus {
		outline: none;
	}

	& > .top-bar {
		width: 100%;
		height: 25px;
		background-color: rgb(47, 71, 116);
		
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		@extend .noselect;
		cursor: grab;

		border-top-left-radius: 4px;
		border-top-right-radius: 4px;


		& > .close-button {
			position: relative;
			z-index: 1000;
			padding: 8px;
			margin-left: 5px;

			&::after {
				content: '';
				height: 10px;
				width: 10px;
				transform: translateY(1px);
				background-color: rgb(224, 67, 67);
				border-radius: 100%;
				display: inline-block;
				z-index: 1001;
				cursor: pointer;

				
			}

			&:hover {
				&::after {
					background-color: rgb(194, 54, 54);
				}
			}
		}

		& > .title {
			flex-grow: 1;
			transform: translateX(-10px);
			text-align: center;
			color: rgb(255, 255, 255);
			font-weight: bold;
			font-size: .9em;
		}

	}

	& > .properties-list {
		padding-top: 15px;
		list-style: none;
		margin-top: 10px;

		font-size: 0.9em;
		color:rgb(34, 34, 34);

		@extend .noselect;

		& > li {
			margin-bottom: 15px;
			& > * {
				display: table-cell;
				vertical-align: middle;
			}
			@extend .select;
		}


		.left-wrapper {
			display: inline-block;
			width: 30%;
			padding-left: 25px;
			padding-right: 10px;
			font-weight: bold;
			@extend .noselect;
		}

		.right-wrapper {
			display: inline-block;
			width: 50%;
			text-align: center;
		}

		& > .color {
			.input-color {
				background-color: transparent;
				border: none;
				outline: none;
				@extend .noselect;
			}
		}

		& > .toggler {
			.toggle-button {
				cursor: pointer;
				display: inline-block;
				width: 20px;
				height: 20px;
				font-size: 1.1em;
				line-height: 19px;
				text-align: center;
				border: 1px solid rgb(128, 128, 128);
				@extend .noselect;
			}
		}
	}
	
	& > .button-list {
		@extend .noselect;

		display: flex;
		justify-content: space-evenly;
		margin-top: 15px;
		margin-bottom: 10px;
	
		& > .button {
			width: 35%;
			height: 20px;
			background-color: rgb(219, 219, 219);	
			color:rgb(27, 27, 27);	
			border-radius: 5px;
			font-size: 0.9em;
			line-height: 20px;
			font-weight: bold;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color:rgb(211, 211, 211);
			}
		}
	}
}

/* MATRICES */
.properties-list > li.matrix .input-matrix, li.matrix-list-li, #matrices-transform-frame .output-matrix {
	display: flex;
	justify-content: center;

	.left-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(34, 34, 34);
		border-right: 0px;
	}

	.middle {
		display: flex;

		.c0, .c1 {
			width: 40px;

			.x, .y {
				height: 20px;
				white-space: nowrap;
				line-height: 20px;
				text-align: center;
				overflow-x: auto;
			}

			.x {
				margin-top: 3px;
			}

			.y {
				margin-top: 5px;
			}
		}
	}

	.right-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(34, 34, 34);
		border-left: 0px;
	}
}

#matrices-list-frame {
	li.matrix-list-li {
		display: flex;
		align-items: center;

		.left-wrapper {
			// width: 20%;
			flex-shrink: 2;
		}

		.right-wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;

			.matrix {
				display: flex;
				align-items: center;
				& > * {
					display: inline-block;
				}

				.c0, .c1, .left-bracket, .right-bracket {
					display: inline-block;
				}

				.c0x, .c0y, .c1x, .c1y { 
					@extend .select;
				}
			}

			.delete-button {
				cursor: pointer;
				width: 20px;
				height: 20px;
				border: 1px solid rgb(128, 128, 128);
				// color: rgb(255, 83, 83);
				font-size: .9em;
				line-height: 20px;
				
			}
		}
	}
}

#matrices-transform-frame .transform-output {
	.matrix {
		margin-top: 15px;
		.c0, .c1 {
			width: 40px;
		}
	}
	#matrix-transform-output-field {
		margin-top: 15px;
	}
}

/* VECTORS */
.properties-list > li.vector .input-vector, #vectors-list-frame .vector, #eigen-frame .vector {
	// vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.left-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-right: 0px;
	}

	.middle {
		flex-wrap: wrap;
		& > * {
			// background-color: rgb(60, 60, 60);
			line-height: 20px;
			white-space: nowrap;
			width: 40px;
			height: 20px;

			// &:focus {
			// 	outline: none;
			// }
			overflow-x: auto;
			@extend .select;
		}

		.y {
			margin-top: 4px;
		}
	}

	.right-bracket {
		height: 50px;
		width: 5px;
		border: 1px solid rgb(173, 173, 173);
		border-left: 0px;
	}
}


#vectors-list-frame li.vector-list-li {
	display: flex;
	align-items: center;

	.left-wrapper {
		// width: 20%;
		flex-shrink: 2;
	}

	.right-wrapper {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		// width: 60%;
		// margin-left: 30%;

		.color {
			width: 20px;
			height: 20px;
			background-color: #f00;
			border: 1px solid rgb(128, 128, 128);
		}

		.delete-button {
			cursor: pointer;
			width: 20px;
			height: 20px;
			border: 1px solid rgb(128, 128, 128);
			// color: rgb(255, 83, 83);
			font-size: .9em;
			line-height: 20px;
			
		}
	}
}

/* TOOLS */
#dot-product-output {
	overflow-x: auto;
	width: 50px;
	margin: auto;
}

.property-frame#eigen-frame  li.eig-list-li {
	& > .right-wrapper {
		display: inline-flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;

		.value {
			overflow-x: auto;
			width: 40px;
		}
	}
}


// WARNING FRAME
.warning-frame {
	top: 45%;
	left: calc(50% - 100px);
	
	& > .content {
		color: rgb(34, 34, 34);
		font-size: 0.9em;
		padding: 15px 20px 10px;
	}
}

#storage {
	display: none;
}