* {
    margin: 0;
    padding: 0;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// text-size-adjust: 100%; 
    // -ms-text-size-adjust: 100%; 
    // -moz-text-size-adjust: 100%; 
    // -webkit-text-size-adjust: 100%;
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

code {
	background-color: #eee;
	padding-left: 2px;
	padding-right: 2px;
}

// TOP BAR

header {
	width: 100%;
	height: 28px;
	padding-top: 2px;
	background-image: linear-gradient(180deg, rgb(68, 68, 68), rgb(61, 61, 61));
	border-bottom: 2px solid rgb(48, 48, 48);
	color: rgb(150, 150, 150);

    & > * {
        display: inline-block;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        margin-left: 10px;
        margin-right: 10px;
        @extend .noselect;

		& > a {
			color: inherit;
		}
    }
}

#favicon {
	height: 20px;
	width: 20px;
	margin-right: 0px;
	background-image: url('/images/favicon.png');
	background-size: contain;
}

#title {
	color:rgb(167, 167, 167);
	cursor: pointer;

	&:hover {
		color: rgb(193, 193, 193);
	}

    & > a {
        text-decoration: none;
        color: inherit;
    }
}

.bar-button {
	display: inline-block;
    padding-top: 2px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 0.9em;
	cursor: pointer;
	color: #969696;
}

.bar-button:hover {
	color: rgb(173, 173, 173);
}

.wrapper {
	width: 80%;
	padding-left: 10%;
}

.nav-panel {
	// height: 30vh
	height: 280px;
	// display: flex;
	justify-content: center;
	// flex-direction: column;
	
    & > .help-title {
		margin-top: 150px;
		width: 100%;
        font-size: 2.8em;
    }

	& > .description {
		margin-top: 20px;
		font-size: 1.3em;
	}

	& > .sections {
		margin-top: 5%;
		padding-left: 5%;
		font-size: 1.2em;
		list-style-type: none;
		& > li {
			margin-bottom: 20px;
			& > a {
				color: rgb(80, 80, 80);
				&:hover {
					text-decoration: solid underline 2px;
				}
			}
		}
	}
}

.property {
	a {
		color: #00B7FF;
	}

	table {
		margin: 20px 0;
		tr:first-child th {
			font-weight: bold;
		}
		th {
			padding: 10px;
			font-weight: normal;
		}
	}

	margin-bottom: 80px;

	&:last-child {
		margin-bottom: 100px;
	}

	p.description {
		line-height: 30px;
	}

	& > .title {
		font-size: 2em;
		margin-bottom: 18px;
	}

	& > .description {
		// margin-top: 12px;
		font-size: 1.1em;
		// margin-bottom: 10px;
	}

	& > .subsection {
		margin-left: 20px;
		margin-top: 24px;
		margin-bottom: 16px;

		& > .subtitle {
			font-size: 1.5em;
			margin-bottom: 12px;
			color: rgb(48, 48, 48);
		}

		// & > .description {
			// margin-bottom: 10px;
		// }
	}
}


// INDEX 
.index-main {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
		color: inherit;
	}

	& > * {
		h1 {
			font-size: 2.5em;
			display: inline-block;
			&:hover {
				&::before {
					width: 100%;
				}
			}
			position: relative;
			&::before {
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				width: 0;
				height: 3px;
				background-color: black;
				transition: width 0.2s ease-out;
			}
		}

		margin-bottom: 3%;
	}

	.panels {
		font-size: 2em;
		li {
			display: inline-block;
			padding: 0 50px;
			a {
				&:hover {
					&::before {
						width: 100%;
					}
				}
				position: relative;
				&::before {
					position: absolute;
					content: '';
					left: 0;
					bottom: 0;
					width: 0;
					height: 2px;
					background-color: rgb(44, 44, 44);
					transition: width 0.2s ease-out;
				}
			}
		}
	}
}