* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect, #top-bar > *, .content-bar > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: #61cdff;
  font-weight: bold;
}

a:hover {
  color: #ace5ff;
}

code {
  background-color: #eee;
  padding-left: 2px;
  padding-right: 2px;
}

#top-wrapper {
  position: absolute;
  z-index: 1010;
  top: 0;
  left: 0;
  width: 100%;
}

#top-bar {
  z-index: 1010;
  width: 100%;
  min-height: 40px;
  padding-top: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e4164), to(#293b5c));
  background-image: linear-gradient(180deg, #2e4164, #293b5c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#top-bar > * {
  margin-left: 10px;
  margin-right: 10px;
}

#top-bar a {
  color: inherit;
}

#top-bar a a:hover {
  -webkit-transition: 0s;
  transition: 0s;
  color: inherit;
}

#favicon {
  height: 32px;
  width: 32px;
  margin-left: 30px;
  background-image: url("/images/favicon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#title {
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 1.1em;
  font-weight: bold;
}

#title:hover {
  color: #e4e4e4;
}

#title > a {
  text-decoration: none;
  color: inherit;
}

.bar-button {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 10px 5px;
}

#help-button > a {
  text-decoration: none;
  color: inherit;
}

.bar-button.disabled {
  color: #e4e4e4;
}

.bar-button:hover {
  color: white;
}

.content-bar {
  z-index: 1008;
  background-color: #334970;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-bar.disabled {
  display: none;
}

.content-bar > * {
  font-size: 0.9em;
  padding: 8px 20px;
  cursor: pointer;
  color: #fafafa;
}

.content-bar > *:hover {
  color: #fafafa !important;
}

.content-bar > *.disabled {
  color: #e6e6e6;
}

.nav-panel {
  height: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-panel > .help-title {
  margin-top: 200px;
  width: 100%;
  font-size: 2.8em;
}

.nav-panel > .description {
  margin-top: 20px;
  font-size: 1.3em;
}

.nav-panel > .sections {
  margin-top: 5%;
  padding-left: 5%;
  font-size: 1.2em;
  list-style-type: none;
}

.nav-panel > .sections > li {
  margin-bottom: 20px;
}

.nav-panel > .sections > li > a {
  color: #505050;
}

.nav-panel > .sections > li > a:hover {
  -webkit-text-decoration: solid underline 2px;
          text-decoration: solid underline 2px;
}

.property {
  margin-bottom: 80px;
}

.property a {
  color: #61cdff;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.property a:hover {
  color: #ace5ff;
}

.property table {
  margin: 20px 0;
  width: 100%;
  overflow-x: auto;
  display: block;
}

.property table tr:first-child th {
  font-weight: bold;
}

.property table th {
  padding: 10px;
  font-weight: normal;
}

.property:last-child {
  margin-bottom: 100px;
}

.property p.description {
  line-height: 30px;
}

.property > .title {
  font-size: 2em;
  margin-bottom: 18px;
}

.property > .description {
  font-size: 1.1em;
}

.property > .subsection {
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.property > .subsection > .subtitle {
  font-size: 1.5em;
  margin-bottom: 12px;
  color: #303030;
}

.wrapper {
  padding: 0 10%;
}

.index-main {
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-main a {
  text-decoration: none;
  color: inherit;
}

.index-main > * {
  margin-bottom: 25px;
}

.index-main > * h1 {
  font-size: 1.5em;
  display: inline-block;
  -webkit-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

.index-main > * h1:hover {
  color: #646464;
}

.index-main .panels {
  font-size: 1.2em;
}

.index-main .panels li {
  display: inline-block;
  padding: 0 30px;
}

.index-main .panels li a {
  font-weight: normal;
  -webkit-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

.index-main .panels li a:hover {
  color: #787878;
}

.index-contact-me {
  margin-top: 50px;
}

.index-contact-me .email {
  margin-top: 25px;
  font-size: 1.1em;
}
/*# sourceMappingURL=help-style.css.map */