* {
    margin: 0;
    padding: 0;
}

// html, body {
// 	max-width: 100%;
// 	overflow-x: hidden;
// }

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// text-size-adjust: 100%; 
    // -ms-text-size-adjust: 100%; 
    // -moz-text-size-adjust: 100%; 
    // -webkit-text-size-adjust: 100%;
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
    text-decoration: none;
    color: rgb(97, 205, 255);
    // transition: 0.5s ease-out;
    font-weight: bold;

    &:hover {
        color: rgb(172, 229, 255);
    }
}

code {
	background-color: #eee;
	padding-left: 2px;
	padding-right: 2px;
}

// TOP BAR

#top-wrapper {
	position: absolute;
	z-index: 1010;
	top: 0;
	left: 0;
	width: 100%;
}

#top-bar {
	z-index: 1010;
	// position: absolute;
	width: 100%;
	// height: 28px;
	min-height: 40px;
	padding-top: 2px;
	background-image: linear-gradient(180deg, rgb(46, 65, 100), rgb(41, 59, 92));
	// border-bottom: 2px solid rgb(48, 48, 48);
	// color: rgb(255, 255, 255);

	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;

    & > * {
        // display: inline-block;
        // vertical-align: middle;
        // vertical-align: -webkit-baseline-middle;
        margin-left: 10px;
        margin-right: 10px;
        @extend .noselect;
    }

	a {
		color: inherit;
		a:hover {
			transition: 0s;
			color: inherit;
		}
	}
}

#favicon {
	height: 32px;
	width: 32px;
	margin-left: 30px;
	background-image: url('/images/favicon.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#title {
	color:rgb(255, 255, 255);
	cursor: pointer;
	padding: 10px 10px;
	font-size: 1.1em;
	font-weight: bold;

	&:hover {
		color: rgb(228, 228, 228);
	}

	& > a {
        text-decoration: none;
        color: inherit;
    }
}

.bar-button {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	color: rgb(255, 255, 255);
	padding: 10px 5px;
}

#help-button > a {
	text-decoration: none;
	color: inherit;
}

.bar-button.disabled {
	color: #e4e4e4;
}

.bar-button:hover {
	color: rgb(255, 255, 255);
}

.content-bar {
	// position: absolute;
	z-index: 1008;
	background-color: rgb(51, 73, 112);
	width: 100%;
	// height: 30px;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.content-bar.disabled {
	display: none;
}

.content-bar > * {
	// display: inline-block;
	// vertical-align: middle;
	// vertical-align: -webkit-baseline-middle;
	font-size: 0.9em;
	padding: 8px 20px;
	cursor: pointer;
	color: rgb(250, 250, 250);
    @extend .noselect;

	&:hover {
		color: rgb(250, 250, 250) !important;
	}

	&.disabled {
		color: rgb(230, 230, 230);
	}
}

// header {
// 	width: 100%;
// 	height: 28px;
// 	padding-top: 2px;
// 	background-image: linear-gradient(180deg, rgb(68, 68, 68), rgb(61, 61, 61));
// 	border-bottom: 2px solid rgb(48, 48, 48);
// 	color: rgb(150, 150, 150);

//     & > * {
//         display: inline-block;
//         vertical-align: middle;
//         vertical-align: -webkit-baseline-middle;
//         margin-left: 10px;
//         margin-right: 10px;
//         @extend .noselect;

// 		& > a {
// 			color: inherit;
// 		}
//     }
// }

// #favicon {
// 	height: 20px;
// 	width: 20px;
// 	margin-right: 0px;
// 	background-image: url('/images/favicon.png');
// 	background-size: contain;
// }

// #title {
// 	color:rgb(167, 167, 167);
// 	cursor: pointer;

// 	&:hover {
// 		color: rgb(193, 193, 193);
// 	}

//     & > a {
//         text-decoration: none;
//         color: inherit;
//     }
// }

// .bar-button {
// 	display: inline-block;
//     padding-top: 2px;
// 	margin-left: 8px;
// 	margin-right: 8px;
// 	font-size: 0.9em;
// 	cursor: pointer;
// 	color: #969696;
// }

// .bar-button:hover {
// 	color: rgb(173, 173, 173);
// }

// .wrapper {
// 	width: 80%;
// 	padding-left: 10%;
// }

.nav-panel {
	// height: 30vh
	height: 280px;
	// display: flex;
	justify-content: center;
	// flex-direction: column;
	
    & > .help-title {
		margin-top: 200px;
		width: 100%;
        font-size: 2.8em;
    }

	& > .description {
		margin-top: 20px;
		font-size: 1.3em;
	}

	& > .sections {
		margin-top: 5%;
		padding-left: 5%;
		font-size: 1.2em;
		list-style-type: none;
		& > li {
			margin-bottom: 20px;
			& > a {
				color: rgb(80, 80, 80);
				&:hover {
					text-decoration: solid underline 2px;
				}
			}
		}
	}
}

.property {
	a {
		// text-decoration: none;
		color: rgb(97, 205, 255);
		transition: color 0.5s ease-out;
		// font-weight: bold;
	
		&:hover {
			color: rgb(172, 229, 255);
		}
	}

	table {
		margin: 20px 0;
		width: 100%;
		// table-layout: fixed;
		overflow-x: auto;
		display: block;
		// white-space: wrap;

		tr:first-child th {
			font-weight: bold;
		}
		th {
			padding: 10px;
			font-weight: normal;
		}
	}

	margin-bottom: 80px;

	&:last-child {
		margin-bottom: 100px;
	}

	p.description {
		line-height: 30px;
	}

	& > .title {
		font-size: 2em;
		margin-bottom: 18px;
	}

	& > .description {
		// margin-top: 12px;
		font-size: 1.1em;
		// margin-bottom: 10px;
	}

	& > .subsection {
		margin-left: 20px;
		margin-top: 24px;
		margin-bottom: 16px;

		& > .subtitle {
			font-size: 1.5em;
			margin-bottom: 12px;
			color: rgb(48, 48, 48);
		}

		// & > .description {
			// margin-bottom: 10px;
		// }
	}
}


// INDEX 
.wrapper {
	padding: 0 10%;
}

.index-main {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
		color: inherit;
	}

	& > * {
		h1 {
			font-size: 1.5em;
			display: inline-block;
			transition: color .4s ease-out;
			&:hover {
				color: rgb(100,100,100);
			}
			// &:hover {
			// 	&::before {
			// 		width: 100%;
			// 	}
			// }
			// position: relative;
			// &::before {
			// 	position: absolute;
			// 	content: '';
			// 	left: 0;
			// 	bottom: 0;
			// 	width: 0;
			// 	height: 3px;
			// 	background-color: black;
			// 	transition: width 0.2s ease-out;
			// }
		}

		margin-bottom: 25px;
	}

	.panels {
		font-size: 1.2em;
		li {
			display: inline-block;
			padding: 0 30px;
			a {
				font-weight: normal;
				transition: color .4s ease-out;
				&:hover {
					color: rgb(120,120,120);
				}
				// &:hover {
				// 	&::before {
				// 		width: 100%;
				// 	}
				// }
				// position: relative;
				// &::before {
				// 	position: absolute;
				// 	content: '';
				// 	left: 0;
				// 	bottom: 0;
				// 	width: 0;
				// 	height: 2px;
				// 	background-color: rgb(44, 44, 44);
				// 	transition: width 0.2s ease-out;
				// }
			}
		}
	}
}

.index-contact-me {
	margin-top: 50px;

	.email {
		margin-top: 25px;
		font-size: 1.1em;
	}
}