* {
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
}

.noselect, #top-bar > *, .content-bar > *, .property-frame > .top-bar, .warning-frame > .top-bar, .property-frame > .properties-list, .warning-frame > .properties-list, .property-frame > .button-list, .warning-frame > .button-list {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus, div[contenteditable="true"]:focus {
  outline: none;
}

.text-field {
  overflow-x: auto;
}

/* GRAPH */
#graph, #pt {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* TOP BAR */
#top-bar {
  z-index: 1010;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 28px;
  padding-top: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#3d3d3d));
  background-image: linear-gradient(180deg, #444444, #3d3d3d);
  border-bottom: 2px solid #303030;
  color: #969696;
}

#top-bar > * {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
  margin-right: 10px;
}

#favicon {
  height: 20px;
  width: 20px;
  margin-right: 0px;
  background-image: url("/images/favicon.png");
  background-size: contain;
}

#title {
  color: #a7a7a7;
}

.bar-button {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 0.9em;
  cursor: pointer;
  color: #adadad;
}

.bar-button.disabled {
  color: #969696;
}

.bar-button:hover {
  color: #adadad;
}

.content-bar {
  position: absolute;
  z-index: 1008;
  top: 30px;
  background-color: #3d3d3d;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.content-bar.disabled {
  display: none;
}

.content-bar > * {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  font-size: 0.8em;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: #adadad;
}

.content-bar > *:hover {
  color: #adadad !important;
}

.content-bar > *.disabled {
  color: #8a8a8a;
}

/* PROPERTY FRAME */
.property-frame, .warning-frame {
  display: none;
  z-index: 100;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #414141;
  width: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 2px 2px #424242;
          box-shadow: 0px 2px 2px #424242;
}

.property-frame input:focus, .warning-frame input:focus {
  outline: none;
}

.property-frame > .top-bar, .warning-frame > .top-bar {
  width: 100%;
  height: 20px;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.property-frame > .top-bar > .close-button, .warning-frame > .top-bar > .close-button {
  margin-left: 10px;
  height: 10px;
  width: 10px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  background-color: #e04343;
  border-radius: 100%;
  display: inline-block;
  z-index: 1000;
  cursor: pointer;
}

.property-frame > .top-bar > .close-button:hover, .warning-frame > .top-bar > .close-button:hover {
  background-color: #c23636;
}

.property-frame > .top-bar > .title, .warning-frame > .top-bar > .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  text-align: center;
  font-size: 0.8em;
  color: #a7a7a7;
}

.property-frame > .properties-list, .warning-frame > .properties-list {
  list-style: none;
  margin-top: 10px;
  font-size: 0.9em;
  color: #adadad;
}

.property-frame > .properties-list > li, .warning-frame > .properties-list > li {
  margin-bottom: 10px;
}

.property-frame > .properties-list > li > *, .warning-frame > .properties-list > li > * {
  display: table-cell;
  vertical-align: middle;
}

.property-frame > .properties-list .left-wrapper, .warning-frame > .properties-list .left-wrapper {
  display: inline-block;
  width: 30%;
  padding-left: 25px;
  padding-right: 10px;
}

.property-frame > .properties-list .right-wrapper, .warning-frame > .properties-list .right-wrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.property-frame > .properties-list > .color .input-color, .warning-frame > .properties-list > .color .input-color {
  background-color: transparent;
  border: none;
  outline: none;
}

.property-frame > .properties-list > .toggler .toggle-button, .warning-frame > .properties-list > .toggler .toggle-button {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 1.1em;
  line-height: 19px;
  text-align: center;
  border: 1px solid gray;
}

.property-frame > .button-list, .warning-frame > .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.property-frame > .button-list > .button, .warning-frame > .button-list > .button {
  width: 35%;
  height: 20px;
  background-color: #353535;
  color: #b8b8b8;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

/* MATRICES */
.properties-list > li.matrix .input-matrix, #matrices-list-frame li.matrix-list-li, #matrices-transform-frame .output-matrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.properties-list > li.matrix .input-matrix .left-bracket, #matrices-list-frame li.matrix-list-li .left-bracket, #matrices-transform-frame .output-matrix .left-bracket {
  height: 50px;
  width: 5px;
  border: 1px solid #adadad;
  border-right: 0px;
}

.properties-list > li.matrix .input-matrix .middle, #matrices-list-frame li.matrix-list-li .middle, #matrices-transform-frame .output-matrix .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.properties-list > li.matrix .input-matrix .middle .c0, .properties-list > li.matrix .input-matrix .middle .c1, #matrices-list-frame li.matrix-list-li .middle .c0, #matrices-list-frame li.matrix-list-li .middle .c1, #matrices-transform-frame .output-matrix .middle .c0, #matrices-transform-frame .output-matrix .middle .c1 {
  width: 40px;
}

.properties-list > li.matrix .input-matrix .middle .c0 .x, .properties-list > li.matrix .input-matrix .middle .c0 .y, .properties-list > li.matrix .input-matrix .middle .c1 .x, .properties-list > li.matrix .input-matrix .middle .c1 .y, #matrices-list-frame li.matrix-list-li .middle .c0 .x, #matrices-list-frame li.matrix-list-li .middle .c0 .y, #matrices-list-frame li.matrix-list-li .middle .c1 .x, #matrices-list-frame li.matrix-list-li .middle .c1 .y, #matrices-transform-frame .output-matrix .middle .c0 .x, #matrices-transform-frame .output-matrix .middle .c0 .y, #matrices-transform-frame .output-matrix .middle .c1 .x, #matrices-transform-frame .output-matrix .middle .c1 .y {
  height: 20px;
  white-space: nowrap;
  line-height: 20px;
  text-align: center;
  overflow-x: auto;
}

.properties-list > li.matrix .input-matrix .middle .c0 .x, .properties-list > li.matrix .input-matrix .middle .c1 .x, #matrices-list-frame li.matrix-list-li .middle .c0 .x, #matrices-list-frame li.matrix-list-li .middle .c1 .x, #matrices-transform-frame .output-matrix .middle .c0 .x, #matrices-transform-frame .output-matrix .middle .c1 .x {
  margin-top: 3px;
}

.properties-list > li.matrix .input-matrix .middle .c0 .y, .properties-list > li.matrix .input-matrix .middle .c1 .y, #matrices-list-frame li.matrix-list-li .middle .c0 .y, #matrices-list-frame li.matrix-list-li .middle .c1 .y, #matrices-transform-frame .output-matrix .middle .c0 .y, #matrices-transform-frame .output-matrix .middle .c1 .y {
  margin-top: 5px;
}

.properties-list > li.matrix .input-matrix .right-bracket, #matrices-list-frame li.matrix-list-li .right-bracket, #matrices-transform-frame .output-matrix .right-bracket {
  height: 50px;
  width: 5px;
  border: 1px solid #adadad;
  border-left: 0px;
}

#matrices-list-frame li.matrix-list-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#matrices-list-frame li.matrix-list-li .left-wrapper {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

#matrices-list-frame li.matrix-list-li .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#matrices-list-frame li.matrix-list-li .right-wrapper .matrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#matrices-list-frame li.matrix-list-li .right-wrapper .matrix > * {
  display: inline-block;
}

#matrices-list-frame li.matrix-list-li .right-wrapper .matrix .c0, #matrices-list-frame li.matrix-list-li .right-wrapper .matrix .c1, #matrices-list-frame li.matrix-list-li .right-wrapper .matrix .left-bracket, #matrices-list-frame li.matrix-list-li .right-wrapper .matrix .right-bracket {
  display: inline-block;
}

#matrices-list-frame li.matrix-list-li .right-wrapper .delete-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  font-size: .9em;
  line-height: 20px;
}

#matrices-transform-frame .transform-output .matrix {
  margin-top: 15px;
}

#matrices-transform-frame .transform-output .matrix .c0, #matrices-transform-frame .transform-output .matrix .c1 {
  width: 40px;
}

#matrices-transform-frame .transform-output #matrix-transform-output-field {
  margin-top: 15px;
}

/* VECTORS */
.properties-list > li.vector .input-vector, #vectors-list-frame .vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.properties-list > li.vector .input-vector .left-bracket, #vectors-list-frame .vector .left-bracket {
  height: 50px;
  width: 5px;
  border: 1px solid #adadad;
  border-right: 0px;
}

.properties-list > li.vector .input-vector .middle > *, #vectors-list-frame .vector .middle > * {
  line-height: 20px;
  white-space: nowrap;
  width: 40px;
  height: 20px;
}

.properties-list > li.vector .input-vector .middle .y, #vectors-list-frame .vector .middle .y {
  margin-top: 4px;
}

.properties-list > li.vector .input-vector .right-bracket, #vectors-list-frame .vector .right-bracket {
  height: 50px;
  width: 5px;
  border: 1px solid #adadad;
  border-left: 0px;
}

#vectors-list-frame li.vector-list-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vectors-list-frame li.vector-list-li .left-wrapper {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

#vectors-list-frame li.vector-list-li .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vectors-list-frame li.vector-list-li .right-wrapper .color {
  width: 20px;
  height: 20px;
  background-color: #f00;
  border: 1px solid gray;
}

#vectors-list-frame li.vector-list-li .right-wrapper .delete-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  font-size: .9em;
  line-height: 20px;
}

.warning-frame {
  top: 45%;
  left: calc(50% - 100px);
}

.warning-frame > .content {
  color: #adadad;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

#storage {
  display: none;
}
/*# sourceMappingURL=style.css.map */