extends help-layout

block help-headcontent
    meta(name="description", content="Learn how to use Graph Linear Algebra with matrices, vector, and others")
    meta(property="og:title" content="Graph Linear Algebra | Help")
    meta(property="og:description" content="Learn how to use Graph Linear Algebra with matrices, vector, and others")
    

block help-content
    .index-main.wrapper
        h2="Learn how to use"
        .matrices-wrapper
            h1.title
                a(href="/help/matrices") Matrices
            ul.panels
                li.add
                    a(href="/help/matrices#add") add
                li.transform
                    a(href="/help/matrices#transform") transform
                li.list
                    a(href="/help/matrices#list") list
        .vectors-wrapper
            h1.title
                a(href="/help/vectors") Vectors
            ul.panels
                li.add
                    a(href="/help/vectors#add") add
                li.unit-vectors
                    a(href="/help/vectors#unit-vectors") unit-vectors
                li.list
                    a(href="/help/vectors#list") list
        .tools-wrapper
            h1.title 
                a(href="/help/tools") Tools
            ul.panels
                li.dot-product
                    a(href="/help/tools#dot-product") dot-product
                li.determinant
                    a(href="/help/tools#determinant") determinant
                li.eigen
                    a(href="/help/tools#eigen") eigen

    .index-contact-me.wrapper
        h2="Contact information"
        .email.
            Email me at <a href="mailto:graphlinearalgebra@gmail.com">graphlinearalgebra@gmail.com</a> for any questions, suggestions, and bugs.
